// Specific CSS for your home-page
.home-banner {
  text-align: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -105px;
}




