// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "show_order";
@import"new_order";

.all-cakes {
  margin-bottom: 40px;
  margin-top: 15px;
}

.search-bar {
  max-width: 400px;
  margin-left: 14px;
  background-color: transparent;
}

.search {
  display: block;
}

.items-text {
  margin-bottom: 50px;
  margin-top: 100px;
}

.margin-card {
  margin-bottom: 120px;
}
