.profile {
  display: flex;
  justify-content: flex-start;
  padding: 25px 0;
  border-bottom: solid 1px $base;
}

.profile-text {
  margin-bottom: 25px;
}


.about-me-avatar {
  border-radius: 50%;
  max-height: 150px;
  margin-right: 50px;
}

.edit-section {
  .edit-show-user {
    opacity: 0;
    transition: .3s;
    border: 2px solid $base;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    background: $background-colour;
    border-radius: 5px;
    color: $base;
    margin-top: 0px;
  }
  &:hover {
    .edit-show-user {
      opacity: 1;
      text-decoration: none;
      border: 2px solid $link-hover;
      padding: 8px 16px;
      cursor: pointer;
      font-weight: 500;
      background: $background-colour;
      border-radius: 5px;
      color: $link-hover;
      margin-top: 0px;
    }
  }
}

.cards-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 48px;
}

.card-profile {
  background-color: $base;
  // width: 250px;
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
  color: $background-colour;
  // margin-bottom: 25px;
  // margin: 20px 35px;
}

.card-profile-image {
  height: 200px;
  width: 250px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card-profile-image-d {
  height: 200px;
  width: 250px;
  margin: 0 auto;
  background-size: cover;
  border: solid 1px;
  border-color: $background-colour;
  background-position: center;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark {
  display: flex;
  justify-content: center;

}
