<div class="item-show-container">
  <% if @order.item.photo.attached? %>
    <div class="item-left-half" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= @order.item.photo.key %>')">
    </div>
  <% else %>
    <div class="item-left-half no-img"><h2 class="home-logo">CAKE</h2>
    </div>
  <% end %>

  <div class="item-right-half">
    <div class="content">
      <h1 class="mb-3">Your order</h1>
      <h5 class="mb-3">Now you can have your <%= @order.item.name%> and eat it!</h5>
      <p>Feeds <%= @order.item.portions %> lucky people.</p>
      <p>Your message to the baker:</p>
      <p><%= @order.description %></p>
    </div>
  </div>
</div>
