
<ul>
  <% @items.each do |item| %>
    <li>
      <p><%= link_to item.flavour, item_path(item)%></p>
      <p><%= item.occasion %></p>
      <p><%= item.portions %></p>
    </li>
  <% end %>
</ul>

<%= link_to "go back home", root_path %>
