.cards-home {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  margin-left: 50px;
  margin-right: 50px;
  // text-decoration: none;
}

.card-home {
  background-color: $base;
  width: 300px;
  padding: 40px 40px 30px 40px;
  border-radius: 7px;
  text-decoration: none;
  color: $background-colour;
}

.card-home-link {
  color: $background-colour;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    color: $link-hover;
  }
}

.card-text {
  margin-bottom: 10px;
}


