.home-form-item {
  display: block;
  margin: 20px;
  width: 300px;
  border: 0px;
  background-color: $base;
}


.home-form {
  display: inline-block;
  text-align: right;
  margin-right: 800px;
  margin-top: 80px;
}
