.home-form-item {
  display: block;
  width: 300px;
  border: 0px;
  background-color: $base;

}


.home-form {
  display: inline-block;
  text-align: right;
  margin-right: 800px;
  margin-top: 120px;
  padding: 30px 40px 30px 40px;
  border-radius: 7px;
  background-color: rgba(255,255,255, 0.2);;

}

