.home-form-item {
  display: block;
  width: 300px;
  border: 0px;
  background-color: $base;

}
.search-bar-new {
  padding: 16px 48px;
}

.search-index {
  background-color: transparent;
  border: none;
  font-size: 45px;
  &:focus {
    color: white;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.home-form {
  display: inline-block;
  text-align: right;
  margin-right: 800px;
  margin-top: 120px;
  padding: 30px 40px 30px 40px;
  border-radius: 7px;
  background-color: rgba(255,255,255, 0.2);;

}

