.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  color: $base;
}

.navbar-lewagon .navbar-collapse {
  // flex: 0;
}

#nav-link {
  color: $base;
}

.navbar-lewagon .navbar-brand img {
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
  width: 100px;
}

#navbarDropdown {
  cursor: pointer;
}

.nav-logo {
  color: $base;
  font-weight: 600;
}
