#nav-link {
  color: $base;
}

#navbarDropdown {
  cursor: pointer;
}

.nav-logo {
  color: $base;
  font-weight: 600;
}


.navbar {
  color: $base;
}

.dropdown-menu {
  background-color: $base;
  border-radius: 5px;
  border-style: none;
  margin-right: 15px;
}

