.navbar-lewagon {
  justify-content: space-between;
  background: $base;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-top: 5px;
  margin-left: 5px;
  width: 80px;
}
